<template name="registry">
  <a class="btn" href='/'>
    <i class='fa fa-fw fa-chevron-left'></i>
    Back
  </a>
  <div class="row">
    <div class="col s12">
      <h2>
        <i class='fa fa-fw fa-list-alt'></i>
        {{registry.title}}
      </h2>
      <p>{{registry.address}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="btn create-security">
        <i class='fa fa-fw fa-briefcase'></i>
        New Security
      </div>
      <div class="section securities-list">
        {{#each securities}}
          {{> registryItem}}
        {{/each}}
      </div>
    </div>
  </div>
</template>