<template name="security">
  <div class="security card">
    <div class="card-content left-align">
      <p>Security: {{address}}</p>
      <p>Title: {{title}}</p>
      <p>Issuer: {{issuer}}</p>
      {{> balances}}
      <hr>
      <h2>Mature Coins: {{matureBalance}}</h2>
      {{#if matureBalance}}
        <p class='right-align'>
          <div class="btn send-coin">
            <i class='fa fa-fw fa-mail-forward'></i>
            Send Coin
          </div>
        </p>
      {{/if}}
      <hr>
      {{#each availableActions}}
        <div class="btn add-corporate-action" title='{{description}}'>
          <i class='fa fa-fw fa-{{icon}}'></i>
          {{name}}
        </div>
      {{/each}}
      {{#each getCorporateActions}}
        {{> corpAction}}
        <hr class='divider'>
      {{/each}}
    </div>
  </div>
</template>
