<template name="security">
  <p>
    <a class='btn' href="/registry/{{registryAddress}}">
      <i class='fa fa-fw fa-chevron-left'></i>
      Back
    </a>
  </p>
  {{#with security}}
    <div class="security">
      <h2>
        <i class='fa fa-fw fa-lock'></i>
        {{title}}
      </h2>
      <div class="row">
        <div class="col m6 s12">
          <p>{{address}}</p>
        </div>
        <div class="col m6 s12 right-align">
            <a class='btn' href="/registry/{{registryAddress}}/{{address}}/balances">View Balances</a>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h4>
            <i class='fa fa-fw fa-credit-card'></i>
            Mature Coins: {{matureBalance}}
          </h4>
          {{#if matureBalance}}
            <p>
              <div class="btn send-coin">
                <i class='fa fa-fw fa-mail-forward'></i>
                Send Coin
              </div>
            </p>
          {{/if}}
        </div>
      </div>
      <div class="section">
        {{#if iAmIssuer}}
          <p>As the owner of the security, you can create a new corporate action:</p>
          {{#each availableActions}}
            <div class="btn add-corporate-action" title='{{description}}'>
              <i class='fa fa-fw fa-{{icon}}'></i>
              {{name}}
            </div>
          {{/each}}
        {{/if}}
      </div>
      {{#each getCorporateActions}}
        {{> corpAction}}
      {{/each}}
    </div>
  {{/with}}

</template>
