<template name="registrySelect">
  <div class="card center-align">
    <div class="card-content">
      <div class="row">
        <p class='flow-text'><b>Welcome to the Securitieth Explorer.</b> To begin, please create a registry or enter the address of an existing one</p>
      </div>
      <div class="row create-registry-row">
        <div class="col s12 m5">
          <a href="#" class='btn btn-block create-registry'>
            <i class='fa fa-fw fa-list-alt'></i>
            Create Registry
          </a>
        </div>
        <div class="col s12 m2 text-c">
          or
        </div>
        <div class="col s12 m5">
          <input class='set-registry' type="text" placeholder="Enter Registry Address"/>
        </div>
      </div>
    </div>
  </div>
</template>