<template name="corpAction">
  <div class="card corp-action">
    <div class="card-content">
      <div class="row">
        <div class="col s12 m8">
          {{#with caInfo}}
            <h3>
              {{#if name}}
                <i class='fa fa-fw fa-{{icon}}'></i>
                <span class='title-modifier'>{{titleModifier}}</span>
                {{name}}
              {{/if}}
            </h3>
            <h4 class='address'>{{address}}</h4>
            <p>{{description}}</p>
          {{/with}}
        </div>
        <div class="col s12 m4 right-align">
          <p>{{formatBalance balance}}</p>
        </div>
      </div>
      {{#if stateBalance}}
        <div class="btn execute-action">Execute with {{stateBalance}}</div>
      {{/if}}
      {{#if stateBalance}}
        <div class="btn pull-right send-coin-from-act">
          <i class='fa fa-fw fa-mail-forward'></i>
          Send Coin
        </div>
      {{/if}}
    </div>
  </div>
  <!-- TODO special UI for vote showing outcomes -->
</template>